@model List<teach>;

<h3>List of Teacher</h3>
<br />
<a class="btn btn-primary" asp-action="Create">New Teacher</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th style="width:70%;">Name</th>
            <th>course id</th>
            <th>employee id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item.name</td>
                <td>@item.c_id</td>
                <td>@item.e_id</td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
            counter++;

        }
    </tbody>
</table>